<h2 class="text-center"> Edit Account </h2>

<form class="form-horizontal form_sign_up" role="form" action="/users/update/<%= user.id %>" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="name" value="<%= user.name %>" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="title" value="<%= user.title %>" name="title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" value="<%= user.email %>" name="email">
    </div>
  </div>
  <% if (session.authenticated && session.User.admin) { %>
      <% if (user.admin) { %>
        <div class="checkbox">
          <label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
        </div>
      <% } else { %>
        <div class="checkbox">
          <label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
        </div>
      <% } %> 
    <% } %> 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<input type="hidden" name="_csrf" value="<%= _csrf %>">
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="/" class="btn btn-danger"> Cancel</a>
    </div>
  </div>
</form>