<div class="container">
	
	<h3>All User</h3>
	<table class="table">
		<tr>
			<th></th>
			<th> ID </th>
			<th> Name </th>
			<th> Title </th>
			<th> Email </th>
			<th></th>
			<th> Show </th>
			<th> Edit </th>
			<th> Delete </th>
		</tr>
		<% _.each(users, function(user) { %>
			<tr data-id="<%= user.id%>" data-model="user">
				<% if (user.online) { %>
					<td><img src="/images/icon-online.png"></td>
				<% } else { %>
					<td> <img src="/images/icon-offline.png"></td>
				<% } %>
				<td> <%= user.id %> </td>
				<td> <%= user.name %> </td>
				<td> <%= user.title %> </td>
				<td> <%= user.email %> </td>
				<% if (user.admin) { %>
					<td> <img src="/images/admin.png"></td>
				<% } else { %>
					<td> <img src="/images/pawn.png"></td>
				<% } %>	
				<td>
					<a href="/users/show/<%= user.id %>" class="btn btn-primary"> Show </a>
				</td>
				<td>
					<a href="/users/edit/<%= user.id %>" class="btn btn-warning"> Edit </a>
				</td>
					
				<td>
					<form action="/users/destroy/<%= user.id %>" method="POST">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="_csrf" value="<%= _csrf %>">
						<input type="submit" class="btn btn-danger" value="Delete">
					</form>
				</td>

			</tr>
		<% }) %>
	</table>
</div>