<h2 class="text-center">
	User Sign Up Form
</h2>

<%  if(flash && flash.err){ %> 
      <ul class="alert alert-success">
      <%  Object.keys(flash.err).forEach(function(error){  %>
        <li>
        <%= JSON.stringify(flash.err[error])  %>
        </li>
      <%  })  %>

      </ul>

  <%  } %>

<form class="form-horizontal form_sign_up" id="sign-up-form" role="form" action="/users/create" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="title" placeholder="Title" name="title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password Confirmation</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password Confirmation" name="confirmation">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    	<input type="hidden" name="_csrf" value="<%= _csrf %>">
      <button type="submit" class="btn btn-primary">Sign in</button>
      <a href="/" class="btn btn-danger"> Cancel</a>
    </div>
  </div>
</form>