<div class="container">
	<% if (user.admin) { %>
		<img src="/images/admin.png">Admin
	<% } else { %>
		<img src="/images/pawn.png">Normal User
	<% } %>	
	<h1>Name: <%- user.name %></h1>
	<h2>Title: <%- user.title %></h2>
	<h3>Email: <%- user.email %></h3>
	<a href="/users/edit/<%= user.id %>" class="btn btn-warning"> Edit </a>
</div>